@import 'vars';


.category-item {
  margin: auto;
  width: 300px;

  button {
    justify-content: flex-end;
    background-color: white;
    color: ivory;
    display: inline-block;
    font-size: .6em;
  }


  h2 {
    color: black;
    display: inline;
    text-align: center;
  }
}


.delete-button {
  align-self: flex-end;
  display: flex;
  height: auto;
  width: 1em;
  padding: .2em;
}
