@import 'vars';


.category-form {
  background-color: white;
  border: 2px solid ivory;
  display: flex;
  flex-direction: column;
  margin: .2em auto;
  padding: .5em;
  text-align: center;
  width: 300px;

  input {
    border: 1px solid ivory;
    display: inline-flex;
    margin: .3em;
  }


  .type-input {
    width: 40%
  }


  .amount-input {
    text-align: center;
    width: 3em;
  }


  button {
    background-color: ivory;
    border-radius: 10px;
    color: black;
    margin: auto;
    padding: .3em;
    width: auto;
  }
}
